<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>persona</title>
</head>
<body>
<div class="trans" style="z-index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70">
<div id="header">
<h1></h1>
</div>
    {% for pers in persona %}
        <div>
            <h4>Nombre: {{ pers.nombre }}</h4>
            <h4>Apellido: {{ pers.apellido }}</h4>
            <h4>DNI: {{ pers.dni }}</h4>
            <h4>Nacimiento{{ pers.fechaDeNacimiento }}</h4>
            <h4>Rubro: {{ pers.tipoDeTrabajoQuePuedeRealizar }}</h4>
            <h4>Desocupado: {{ pers.desocupado }}</h4>
            <br><br>
        </div>
    {% endfor %}
</div>
</body>
</html>