<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Colocaciones{% endblock %}</title>
    <link rel='stylesheet' href={{ static('css/style.css') }}>
  </head>
  <body>
    <header>
      <h1>Colocaciones</h1>
      {% if user.is_authenticated() %}
        <a href="{{ url('logout') }}">cerrar sesion</a>
      {% else %}
        <a href="{{ url('login') }}">ingresar</a> / <a href="{{ url('registrar.empresa') }}">registrar</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>