<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>oferta</title>
</head>
<body>
<div class="trans" style="z-index:1;filter:alpha(opacity=50);float:center;-moz-opacity:.50;opacity:.70">
<div id="header">
<h1></h1>
</div>
    {% for ofer in oferta %}
        <div>
            <h4>Id: {{ ofer.id }}</h4>
            <h4>Empresa: {{ ofer.empresa }}</h4>
            <h4>Necesida: {{ ofer.necesidad }}</h4>
            <h4>Activa: {{ ofer.activa }}</h4>
            <h4>InicioContrato: {{ ofer.inicioContrato }}</h4>
            <h4>finContrato: {{ ofer.finContrato }}</h4>
            <br><br>
        </div>
    {% endfor %}
</div>
</body>
</html>