{% extends 'base.html' %}
{% block content %}
<div align="center">
<h1>Inicio de Sesion</h1>
<img src="/static/images/dab2.jpg" width="50" height="55" align="rigth"></a>
<br>
  {% if form.errors %}
    <p style="color: red">Nombre de usuario y contraseña no coinciden o son incorrectos. Reintentar.</p>
  {% endif %}
  <form method="post">
    {{ csrf_input }}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <h4 style="color:brown">
        {{ field.label_tag() }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </h4>
    {% endfor %}
    <button class="btn-success btn-lg" type="submit">Iniciar sesión</button>
</div>
<br><br><br><br>
    <a class="btn-info btn-lg" href="{{ url('registrar.desocupado') }}">Crear Desocupado</a>
    <a class="btn-info btn-lg" href="{{ url('registrar.empresa') }}">Crear Empresa</a>
  </form>

{% endblock %}
